@import url("~leaflet/dist/leaflet.css");

body {
    margin: 0;
    padding: 10px;
    background: #5433FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container {
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1.2fr 1.2fr 1fr;*/
    grid-template-rows: 1.2fr 1.2fr ;
    grid-gap: 10px;
}

.main {
    grid-area: 1 / 1 / 2 /1;
    overflow-y: hidden;
}

.map {
    grid-area: 1 / 2 / 3 / -1;
}

.secondary {
    grid-area: 2 / 1 / 3 / 2;
    overflow-y: hidden;
}

.kpi {
    grid-area: 3 / 1 / -1 / -1;
}

.kpi-card, .secondary-card, .main-card, .map-card {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    z-index: 2000000000;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 0 0 7px black;

}

.range {
    background: #efefef;
    flex: 1;
    display: flex;
    align-items: flex-start;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
    overflow: hidden;
}

.range-bar {
    height: 100%;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color: transparent;
    width: 0%;
}

.range-container {
    width: 100%;
    display: flex;
    align-content: center;
}

.variable-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    margin-bottom: 20px;
    justify-content: space-between;
    background-color: rgba(0,0,0, 0.05);
    padding: 5px;
    border-radius: 10px;
}

.input-container {
    flex: 9;
    padding: 15px
}

.variable-container h4 {
    flex: 1;
    max-width: 10%;
    min-width: 10%;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.variable-container button {
    flex: 1;
    align-self: center;
}

.secondary-title-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.fire-container {
    display: flex;
    flex-direction: row;
}

.fire-information {
    flex: 1;
}

.fire-picker {
    flex: 1;
}

.fire-date {
    cursor: pointer;
}

.risk-container {
    display: flex;
    flex-direction: row;
}
